<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>demo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D29654D545000DD11451E9641D2AFDBF77D8BE9D</string>
				<key>dateExpires</key>
				<string>2019/4/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D29654D545000DD11451E9641D2AFDBF77D8BE9D</string>
						<key>dateExpires</key>
						<string>2019/4/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KMCVStab.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36PUU93BJ2</string>
						<key>name</key>
						<string>Beijing Kingsoft Cloud Network Technology Corporation Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>36PUU93BJ2.com.ksyun.shortvideo.demo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>36PUU93BJ2</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>36PUU93BJ2.com.ksyun.shortvideo.demo</string>
				</array>
			</dict>
			<key>name</key>
			<string>demo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5ba8ab45-5fef-4032-a1c9-8e22da32797e</string>
				<key>name</key>
				<string>XC iOS: com.ksyun.shortvideo.demo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>36PUU93BJ2</string>
				<key>name</key>
				<string>Beijing Kingsoft Cloud Network Technology Corporation Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
